.newspaper-top {
    width:100vw;
    z-index: 1050;
    position: absolute;
    top: 0;
}

.newspaper-left {
    z-index: 1050;
    position: absolute;
    top: 0;
    left: -10%;
}

.newspaper-right {
    z-index: 1050;
    position: absolute;
    top: 0;
    right: -15%;
}

.banner-bg {
    background-image: url(../images/banner-img-1.png);
    background-position: left top;
    height: 100vh;
    @include media-breakpoint-up(lg) {
        height: auto;
    }
}

.banner {
    height: 100%;
    border-top: 12px solid $primary;
    border-bottom: 12px solid $primary;
    background-image: url(../images/Rectangle-sm.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include media-breakpoint-up(md) {
        height: 80vh;
    }

    @include media-breakpoint-up(lg) {
        height: 90vh;
    }
}

.btn-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner-prize {
    z-index: 10;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;

    @include media-breakpoint-up(md) {
        bottom: 30px;
    }

    @include media-breakpoint-up(lg) {
        right: 15%;
    }
}

.banner-hacker-img {
    position: absolute;
    bottom: -2%;
    left: 0;
    right: 0;
    z-index: 0;

    @include media-breakpoint-up(md) {
        left: 40%;
        width: 60%;
    }

    @include media-breakpoint-up(lg) {
        left: 26%;
        width: 55%;
    }

    @include media-breakpoint-up(xl) {
        left: 28%;
        width: 60%;
    }
}

.banner-mission {
    position: absolute;
    z-index: 5;
    right: 3%;
    top: 15%;
    width: 50%;
    @include media-breakpoint-up(sm) {
        width: 40%;
        top: -5%;
    }

    @include media-breakpoint-up(lg) {
        width: 30%;
        top: -10%;
        right: -2%;
    }
}

.letter-spacing-lg {
    letter-spacing: 0.6em;
}

.double-border {
    border-bottom: 4px solid $primary;
    padding-bottom: 8px;

    &::after {
        content: " ";
        display: block;
        width: 100%;
        height: 4px;
        background-color: $primary;
    }
}

.mission-block-bg {
    border-bottom: 20px solid $primary;
    background-image: url(../images/mission-block-sm.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include media-breakpoint-up(md) {
        background-image: url(../images/mission-block-md.svg);
    }

    @include media-breakpoint-up(lg) {
        background-image: url(../images/mission-block-lg.svg);
    }
}

.mission-logo {
    height: 65px;
    max-width: 100%;
    margin-left: auto;
}

.schedule-square-icon {
    width: 48px;
    height: 48px;
    transform: rotate(45deg);
    background-color: $primary;
    position: relative;

    &-active {
        background-color: $secondary;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.schedule-timeline {
    width: 100%;
    height: 4px;
    background-color: $primary;
    position: absolute;
    z-index: -5;
    top: 42%;
    left: 50%;

    &-active {
        background-color: $secondary;
    }

}

.prize-badge {
    width: 200px;
    position: absolute;
    z-index: 3;
    bottom: 22%;
    left: 24%;

    @include media-breakpoint-up(sm) {
        left: 30%;
    }

    @include media-breakpoint-up(md) {
        width: 225px;
        left: 21%;
    }
}

.live-share-bg {
    border-left: 12px solid $primary;
    border-right: 12px solid $primary;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 750px;
    max-width: 522px;

    &-1 {
        background-image: url(../images/live-share-1.gif);
    }

    &-2 {
        background-image: url(../images/live-share-2.gif);
    }

    &-3 {
        background-image: url(../images/live-share-3.gif);
    }

    &-4 {
        background-image: url(../images/live-share-4.gif);
    }
}

.live-taps {
    background-image: url(../images/tape.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.live-link {
    width: 100%;
    height: 500px;

    @include media-breakpoint-up(md) {
        height: 600px;
    }

    @include media-breakpoint-up(lg) {
        height: 500px;
    }
}


.svgContainer{
    width:300px;
    height: 300px;
  }
  
  .loading{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 35%;
    z-index:1999;
  }
  
  .loading-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg.jpg);
    z-index:2000;
  }

  .fadeOut{
    opacity:0;
    transition-duration: 1s;
  }
